
= render 'left-content'

.right-content
  .right-header
    .right-header__group
      .right-header__group__name
        group
      %ul.right-header__group__member
        Menber.Menber
    =link_to "", class: "right-header__btn link" do
      Edit
  .right-main
    .right-main__comment
      .right-main__comment__user
        test-user
      .right-main__comment__date
        2019/9/9(Mon) 20:00:00
      .right-main__comment__text
        こんにちは
    .right-main__comme
      .right-main__comment__user
        test-user
      .right-main__comment__date
        2019/9/9(Mon) 20:00:00
      .right-main__comment__text
        さようなら
  .post-message
    .post-message__text
      type a message
      %label.post-message__text__image{for: "message_image"}
        %i.fa.fa-image
        %input#message_image.image-icon{name: "message[image]", type: "file"}
    = link_to "https://www.facebook.com/", class: "post-message__btn link" do
      Send

