.left-header
  %h3.left-header__name
    = current_user.name
  %ul.left-header__btns
    %li.btn
      =link_to "" do
        = fa_icon 'edit', class: "btn--icon"
    %li.btn
      =link_to edit_user_path(current_user) do
        = fa_icon 'cog', class: "btn--icon"
.left-content
  .left-content__group
    .left-content__group__name
      グループ名
    .left-content__group__message
      新着メッセージ
  .left-content__group
    .left-content__group__name
      グループ名
    .left-content__group__message
      新着メッセージ
  .left-content__group
    .left-content__group__name
      グループ名
    .left-content__group__message
      新着メッセージ