.left-content
  .left-header
    = current_user.name
    %ul.left-header__btns
      %li.btn
        =link_to "" do
          = fa_icon 'edit', class: "left-header__btns--icon"
      %li.btn
        =link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: "left-header__btns--icon"
  .left-main
    .left-main__group
      .left-main__group__name
        グループ名
      .left-main__group__message
        新着メッセージ
    .left-main__group
      .left-main__group__name
        グループ名
      .left-main__group__message
        新着メッセージ
    .left-main__group
      .left-main__group__name
        グループ名
      .left-main__group__message
        新着メッセージ